@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <a href="/"><button type="submit" class="btn btn-primary">Home Page</button></a>
  <a href="/add_contact"><button type="submit" class="btn btn-info">New Contact</button></a>
</div>

<div class="col-md-6" id="numbers">
  <h3>Numbers:</h3>
  <div class="row">
    <ul>
    @foreach (var number in @Model["number"])
    {
      <li>@number.GetNumber()</li>
    }
    </ul>
  </div>
</div>
