@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <a href="/"><button type="submit" class="btn btn-primary">Home Page</button></a>
  <a href="/add_contact"><button type="submit" class="btn btn-info">New Contact</button></a>
</div>

<div class="row">
  <h1>Contacts:</h1>
</div>

@if(@Model !=null)
{
  <div class="row">
    <ol>
      @foreach (var contact in Model)
      {
        <li><a href="/contact/@contact.GetId()">@contact.GetName()</a></li>
      }
    </ol>
  </div>
}
