<h2>Add phone number:</h2>

<form class="" action="" method="post">
  <input id="contact-id" type="hidden" name="contact-id" value='@Model["contact"].GetId()'>
  <label for="contact-number">Phone number:</label>
  <input type="text" name="contact-number" id="contact-number">
  <button type="submit" name="button">Add</button>
</form>
