@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <a href="/"><button type="submit" class="btn btn-primary">Home Page</button></a>
  <a href="/add_contact"><button type="submit" class="btn btn-info">New Contact</button></a>
</div>

<h2>Add phone number:</h2>

<form action="/contact" method="post">
  <input id="contact-id" type="hidden" name="contact-id" value='@Model["contact"].GetId()'>
  <label for="contact-number">Phone number:</label>
  <input type="text" name="contact-number" id="contact-number" class="form-control">
  <button type="submit" class="btn">Add</button>
</form>
