@{
  Layout="Shared/_Layout.cshtml";
}
<h2>Enter a new contact:</h2>
<form class="contact-name" action="/" method="post">
  <label for="">Name:</label>
  <input type="text" name="contact-name" id="contact-name">
  <button type="submit" name="button">Add</button>
</form>
